html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

/* table */
.ant-table {
  font-size: 9px;
}

.ant-slider-rail, .ant-slider-step {
  background-color:dodgerblue !important;
}

.ant-slider-dot {
  border-color: dodgerblue !important;
}

/* row data */
.ant-table-tbody > tr > td {
  height: 4px;
  padding: 4px !important;
}
/* row tags */
.my-tag {
  font-size: 12px;
}
.ant-table-row {
  height: 4px;
  padding: 0px;
}